alabaster==0.7.12
attrs==21.4.0
autodoc==0.5.0
autodocs==0.0.1
Babel==2.10.3
beautifulsoup4==4.11.1
build==0.8.0
certifi==2022.6.15
charset-normalizer==2.0.12
commonmark==0.9.1
coverage==6.4.1
decorator==5.1.1
docutils==0.18.1
idna==3.3
imagesize==1.3.0
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
pep517==0.12.0
pluggy==1.0.0
pprintpp==0.4.0
py==1.11.0
Pygments==2.12.0
pyparsing==3.0.9
pytest==7.1.2
pytest-clarity==1.0.1
pytest-cov==3.0.0
pytest-html==3.1.1
pytest-metadata==2.0.1
pytest-sugar==0.9.4
pytz==2022.1
requests==2.28.0
rich==12.4.4
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sty==1.0.4
termcolor==1.1.0
tomli==2.0.1
urllib3==1.26.9
waitress==2.1.2
WebOb==1.8.7
WebTest==3.0.0
